@page {
    size: A4 landscape;
    margin: 20mm;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: url('https://i.imgur.com/BrJoeOv.png') no-repeat center center;
    background-size: 297mm auto;
    opacity: 0.99;
}

.content {
    width: 100%;
    max-width: 297mm;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 6px;
}

h3 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
    font-size: 14px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;
}


.bordered-table-m,
.bordered-table-m2,
.bordered-table-c {
    size: A4;
    width: 100%;
    max-width: 297mm;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: fixed;
    font-size: 11px;
}

.bordered-table-m th,
.bordered-table-m td,
.bordered-table-m2 th,
.bordered-table-m2 td,
.bordered-table-c th,
.bordered-table-c td {
    border: 0.5px solid black;
    padding: 5px;
    word-wrap: break-word;
    page-break-inside: avoid;
}

.borderedcol-m-1 {
    width: 1%;
    text-align: center;
}

.borderedcol-m-2-head {
    width: 4%;
    text-align: center;
}

.borderedcol-m-3-head {
    width: 21%;
    text-align: center;
}

.borderedcol-m-4-head {
    width: 11%;
    text-align: center;
}

.borderedcol-m-5-head {
    width: 21%;
    text-align: center;
}

.borderedcol-m-6-head {
    width: 11%;
    text-align: center;
}

.borderedcol-m-7-head {
    width: 21%;
    text-align: center;
}

.borderedcol-m-8-head {
    width: 10%;
    text-align: center;
}

.borderedcol-m-2 {
    width: 4%;
    text-align: left;
}

.borderedcol-m-3 {
    width: 21%;
    text-align: left;
}

.borderedcol-m-4 {
    width: 11%;
    text-align: left;
}

.borderedcol-m-5 {
    width: 21%;
    text-align: left;
}

.borderedcol-m-6 {
    width: 11%;
    text-align: left;
}

.borderedcol-m-7 {
    width: 21%;
    text-align: left;
}

.borderedcol-m-8 {
    width: 10%;
    text-align: left;
}

.borderedcol-m2-1 {
    width: 1%;
    text-align: center;
}

.borderedcol-m2-2-head {
    width: 4%;
    text-align: center;
}

.borderedcol-m2-3-head {
    width: 16%;
    text-align: center;
}

.borderedcol-m2-4-head {
    width: 11%;
    text-align: center;
}

.borderedcol-m2-5-head {
    width: 16%;
    text-align: center;
}

.borderedcol-m2-6-head {
    width: 11%;
    text-align: center;
}

.borderedcol-m2-7-head {
    width: 16%;
    text-align: center;
}

.borderedcol-m2-8-head {
    width: 10%;
    text-align: center;
}

.borderedcol-m2-9-head {
    width: 10%;
    text-align: center;
}

.borderedcol-m2-10-head {
    width: 5%;
    text-align: center;
}

.borderedcol-m2-2 {
    width: 4%;
    text-align: left;
}

.borderedcol-m2-3 {
    width: 16%;
    text-align: left;
}

.borderedcol-m2-4 {
    width: 11%;
    text-align: left;
}

.borderedcol-m2-5 {
    width: 16%;
    text-align: left;
}

.borderedcol-m2-6 {
    width: 11%;
    text-align: left;
}

.borderedcol-m2-7 {
    width: 16%;
    text-align: left;
}

.borderedcol-m2-8 {
    width: 10%;
    text-align: left;
}

.borderedcol-m2-9 {
    width: 10%;
    text-align: left;
}

.borderedcol-m2-10 {
    width: 5%;
    text-align: left;
}

.borderedcol-c-1 {
    width: 1%;
    text-align: center;
}

.borderedcol-c-2-head {
    width: 5%;
    text-align: center;
}

.borderedcol-c-3-head {
    width: 31%;
    text-align: center;
}

.borderedcol-c-4-head {
    width: 16%;
    text-align: center;
}

.borderedcol-c-5-head {
    width: 31%;
    text-align: center;
}

.borderedcol-c-6-head {
    width: 16%;
    text-align: center;
}

.borderedcol-c-2 {
    width: 5%;
    text-align: left;
}

.borderedcol-c-3 {
    width: 31%;
    text-align: left;
}

.borderedcol-c-4 {
    width: 16%;
    text-align: left;
}

.borderedcol-c-5 {
    width: 31%;
    text-align: left;
}

.borderedcol-c-6 {
    width: 16%;
    text-align: left;
}

@media print {

    body {
        margin: 0;
        padding: 0;
    }

    #content {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background: url('https://i.imgur.com/BrJoeOv.png') no-repeat center center;
        background-size: 210mm auto;
        opacity: 0.99;
    }

    .content {
        width: 100%;
        max-width: 297mm;
        margin: auto;
        padding: 10px;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 1;
    }

    h2 {
        text-align: center;
        font-size: 16px;
        margin-bottom: 6px;
    }

    h3 {
        text-align: center;
        font-size: 12px;
        margin-bottom: 6px;
    }

    p {
        margin: 2px 0;
        font-size: 8px;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto 16px;
    }

    .bordered-table-m,
    .bordered-table-m2,
    .bordered-table-c {
        size: A4;
        width: 100%;
        max-width: 297mm;
        border-collapse: collapse;
        margin-top: 10px;
        table-layout: fixed;
        font-size: 9px;
    }

    .bordered-table-m th,
    .bordered-table-m td,
    .bordered-table-m2 th,
    .bordered-table-m2 td,
    .bordered-table-c th,
    .bordered-table-c td {
        border: 0.5px solid black;
        padding: 5px;
        word-wrap: break-word;
        page-break-inside: avoid;
    }

    .borderedcol-m-1 {
        width: 1%;
        text-align: center;
    }

    .borderedcol-m-2-head {
        width: 4%;
        text-align: center;
    }

    .borderedcol-m-3-head {
        width: 21%;
        text-align: center;
    }

    .borderedcol-m-4-head {
        width: 11%;
        text-align: center;
    }

    .borderedcol-m-5-head {
        width: 21%;
        text-align: center;
    }

    .borderedcol-m-6-head {
        width: 11%;
        text-align: center;
    }

    .borderedcol-m-7-head {
        width: 21%;
        text-align: center;
    }

    .borderedcol-m-8-head {
        width: 10%;
        text-align: center;
    }

    .borderedcol-m-2 {
        width: 4%;
        text-align: left;
    }

    .borderedcol-m-3 {
        width: 21%;
        text-align: left;
    }

    .borderedcol-m-4 {
        width: 11%;
        text-align: left;
    }

    .borderedcol-m-5 {
        width: 21%;
        text-align: left;
    }

    .borderedcol-m-6 {
        width: 11%;
        text-align: left;
    }

    .borderedcol-m-7 {
        width: 21%;
        text-align: left;
    }

    .borderedcol-m-8 {
        width: 10%;
        text-align: left;
    }

    .borderedcol-m2-1 {
        width: 1%;
        text-align: center;
    }

    .borderedcol-m2-2-head {
        width: 4%;
        text-align: center;
    }

    .borderedcol-m2-3-head {
        width: 16%;
        text-align: center;
    }

    .borderedcol-m2-4-head {
        width: 11%;
        text-align: center;
    }

    .borderedcol-m2-5-head {
        width: 16%;
        text-align: center;
    }

    .borderedcol-m2-6-head {
        width: 11%;
        text-align: center;
    }

    .borderedcol-m2-7-head {
        width: 16%;
        text-align: center;
    }

    .borderedcol-m2-8-head {
        width: 10%;
        text-align: center;
    }

    .borderedcol-m2-9-head {
        width: 10%;
        text-align: center;
    }

    .borderedcol-m2-10-head {
        width: 5%;
        text-align: center;
    }

    .borderedcol-m2-2 {
        width: 4%;
        text-align: left;
    }

    .borderedcol-m2-3 {
        width: 16%;
        text-align: left;
    }

    .borderedcol-m2-4 {
        width: 11%;
        text-align: left;
    }

    .borderedcol-m2-5 {
        width: 16%;
        text-align: left;
    }

    .borderedcol-m2-6 {
        width: 11%;
        text-align: left;
    }

    .borderedcol-m2-7 {
        width: 16%;
        text-align: left;
    }

    .borderedcol-m2-8 {
        width: 10%;
        text-align: left;
    }

    .borderedcol-m2-9 {
        width: 10%;
        text-align: left;
    }

    .borderedcol-m2-10 {
        width: 5%;
        text-align: left;
    }

    .borderedcol-c-1 {
        width: 1%;
        text-align: center;
    }

    .borderedcol-c-2-head {
        width: 5%;
        text-align: center;
    }

    .borderedcol-c-3-head {
        width: 31%;
        text-align: center;
    }

    .borderedcol-c-4-head {
        width: 16%;
        text-align: center;
    }

    .borderedcol-c-5-head {
        width: 31%;
        text-align: center;
    }

    .borderedcol-c-6-head {
        width: 16%;
        text-align: center;
    }

    .borderedcol-c-2 {
        width: 5%;
        text-align: left;
    }

    .borderedcol-c-3 {
        width: 31%;
        text-align: left;
    }

    .borderedcol-c-4 {
        width: 16%;
        text-align: left;
    }

    .borderedcol-c-5 {
        width: 31%;
        text-align: left;
    }

    .borderedcol-c-6 {
        width: 16%;
        text-align: left;
    }
}